<section data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"  data-sly-unwrap></section>
<meta data-sly-call="${clientlib.all @categories='dtranz.custom.widgets'}" data-sly-unwrap></meta>


<article ><section class="image-carousel carousel clearfix">
	<div class="carousel-nav">
		<a href="#" class="carousel-nav-next"><span class="fa fa-angle-right"></span></a>
	</div>
    <div  data-sly-use.carouselData="imageCarouselHelper.js" data-sly-unwrap>
	<div class="carousel-container clearfix"  >
		<ul class="carousel-slides" data-sly-list="${carouselData}" >
			<li class="carousel-slide"  > 

<!-- COMPONENT: responsive-image -->

<img class="img img-responsive js-image-responsive " alt="Responsive Image Test"
	src="${item.media}"
	data-xssrc="${item.media}" 
	data-hdxssrc="${item.media}" 
	data-smsrc="${item.media}" 
	data-hdsmsrc="${item.media}"
	data-mdsrc="${item.media}" 
	data-hdmdsrc="${item.media}"/>
<!-- COMPONENT END: responsive-image -->
				<div class="image-carousel-banner dark">
					<h3>${item.title}</h3>
					<h2>${item.description}</h2>
				</div>				
			</li>


		</ul>
	</div>
    </div>
</section></article>