.nav-pdp-secondary-container .left-nav {
	border: 0;
}

.nav-pdp-secondary-container .left-nav ul.left-nav-main-level {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 0;
	background: #eee;
	width: 100%;
	display: table;
	table-layout: fixed;
	font-weight: normal;
}

.nav-pdp-secondary-container .left-nav ul.left-nav-main-level > li.link-self a {
	color: #777;
	font-weight: normal;
	text-transform: uppercase;
	font-family: "open_sansregular";
	font-size: 12px;
}

.nav-pdp-secondary-container .left-nav ul.left-nav-main-level > li.link-self a:hover {
	color: #008ecd;
}

.nav-pdp-secondary-container .left-nav ul.left-nav-main-level.active {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	/*background: #008ecd;*/
	width: 100%;
	display: table;
	table-layout: fixed;
	font-weight: normal;
}

.nav-pdp-secondary-container .left-nav ul.left-nav-main-level li.link-child.active a,
.nav-pdp-secondary-container .left-nav ul li.link-child.active a {
	font-family: "open_sansregular";
	padding: 16px 20px 8px 20px;
}
/* TABLET */
	@media (min-width: 600px) and (max-width: 959px) {
		.nav-pdp-secondary-container .left-nav ul.left-nav-main-level > li.link-self a,
		.nav-pdp-secondary-container .left-nav ul.left-nav-main-level li.link-child.active a,
		.nav-pdp-secondary-container .left-nav ul li.link-child.active a,
		.nav-pdp-secondary-container .left-nav ul li a {
			padding: 15px 15px 12px 15px;
			font-size: 11px;
		}

		.nav-pdp-secondary-container .left-nav nav.sub-nav.tertiary-nav ul li a {
			height: 45px;
		}
	}

.nav-pdp-secondary-container .left-nav ul.left-nav-main-level > li {
	display: table-cell;
	text-align: center;
	float: left;
	width: auto;
	border-top: 0;
	font-weight: normal;
	border-left: 1px solid #ddd;
}

.nav-pdp-secondary-container .left-nav ul.left-nav-main-level > li.first {
	border-left: 0;
	border-right: 0;
}

.nav-pdp-secondary-container .left-nav ul.left-nav-main-level > li:hover {
	color: #;

}

.nav-pdp-secondary-container .left-nav ul.left-nav-main-level > li.active {
	background-color: #008ecd;
	color: #fff;
	font-family: "open_sansregular";

}

.nav-pdp-secondary-container .left-nav ul.left-nav-main-level > li.active a span {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "open_sansbold";
	font-size: 12px;
}

.nav-pdp-secondary-container .left-nav ul.left-nav-main-level li.link-self a span {
	font-weight: normal;
}

/* SUBNAV */
.nav-pdp-secondary-container nav.sub-nav.tertiary-nav {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 0;
	/*background: #008ecd;*/
	width: 100%;
	display: table;
	table-layout: fixed;
	font-weight: normal;
}

.nav-pdp-secondary-container .left-nav nav.sub-nav.tertiary-nav ul {
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border: 0;
	background: #008ecd;
	width: 100%;
	display: table;
	table-layout: fixed;
	font-weight: normal;
}

.nav-pdp-secondary-container .left-nav nav.sub-nav.tertiary-nav ul li {
	display: table-cell;
	text-align: center;
	float: left;
	width: auto;
	border-top: 0;
	font-weight: normal;
	padding: 0 0 4px 0;
}

.nav-pdp-secondary-container .left-nav ul li.link-child a .left-nav-link-text {
	font-size: 11px;
	line-height: 14px;
	color: #fff;
	width: auto;
}

.nav-pdp-secondary-container .left-nav nav.sub-nav.tertiary-nav li.link-child .highlightActive {
	display: block;
	width: 45px;
	height: 2px;
	bottom: 5px;
	background-color: #fff;
	margin: 0 auto 0 auto;
	border-radius: 8px;
}

.nav-pdp-secondary-container .left-nav nav.sub-nav.tertiary-nav li.link-child .highlight {
	display: block;
	width: 45px;
	height: 2px;
	bottom: 5px;
	background-color: #eee;
	margin: 0 auto 0 auto;
	border-radius: 8px;
}